<link href="~/css/site.css rel="stylesheet" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white;">Welcome</h1>
    <p>School project made in asp.net.</p>
</div>
