html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
   
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    
    
  }
}

header{
    background-color:black;
}

.navbar{
    background-color:grey;
}

.nav-link{
    border: solid 2px white;
    margin-right: 5px;
    border-radius: 8px;
        
}



.btn-outline-success:hover {
    background-color: black; /* Ny bakgrundsfärg när musen hovrar över */
    border-color: white; /* Ny kantfärg när musen hovrar över */
}




.btn {
    border: solid 2px white;
    margin-right: 5px;
    border-radius: 8px;
    color: white;
}

    
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;

}

html{
    position:relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    
}





.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 10px;
    color:white;
}

.search-input {
    width: 70%;
    color:white;
}

footer {
    margin-top: auto; /* Flytta fotern till botten */
    background-color: grey;
    

}

.details-label {
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
}

.details-value {
    margin-top: -5px;
    margin-left: 10px;
    white-space: nowrap;
    color: white;
}

.details-value-age {
    margin-top: -5px;
    margin-left: 30px;
    color: white;
}

.details-label-age {
    margin-bottom: 5px;
    margin-left: 30px;
    color:white;
}

.producer-info {
    display: flex;
    align-items: center;
    color:white;
}

    .producer-info img {
        max-width: 250px;
        max-height: 250px;
        margin-right: 20px;
        color: white;
        
    }

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    color:white;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:white;
}

.details-label-movie {
    margin-bottom: 5px;
    color:white;
}

.details-value-movie {
    margin-top: -5px;
    margin-left: -250px;
    color:white;
}

.bordered-image {
    border: 2px solid white;
    
}

.btn-details {
    border: solid 2px white;
    border-radius: 8px;
    color: white;
    background-color: black;
    margin-bottom: 5px;
}

.btnEdit {
    border: solid 2px white;
    border-radius: 8px;
    color: white;
    background-color: black;
    margin-bottom: 5px;
    
}

.btn-edit {
    border: solid 2px white;
    border-radius: 8px;
    color: white;
    background-color: black;
    margin-bottom: 5px;
}

.btn-delete {
    border: solid 2px white;
    border-radius: 8px;
    color: white;
    background-color: black;
}

.btn-create {
    border: solid 2px white;
    border-radius: 8px;
    color: white;
    background-color: black;
}

.btn-back {
    border: solid 2px white;
    border-radius: 8px;
    color: white;
    background-color: black;
    margin-top:5px;
}

    .btn-back:hover {
        background-color: white;
        color: black;
    }

.btn-create:hover {
    background-color: white;
    color: black;
}

.btn-edit:hover {
    background-color: white;
    color: black;
}

.btn-delete:hover {
    background-color: white;
    color: black;
}


.btn-details:hover {
    background-color:white;
    color:black;
    
}

.rounded-circle  {
    object-fit: cover;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    border: solid 2px white;
}

.btn-filter {
    border: solid 2px white;
    border-radius: 8px;
    color: white;
    background-color: black;
    
}

.btn-filter:hover {
        background-color: white;
        color: black;
}

.inputSearch{
    border:solid 2px white;
    border-radius:8px;
    color:black;
}